# Secrets & environment variables
.env

# Python caching & byte-code
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Logs
*.log
run_output.log

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
